//
   Created by surab on 4/28/2017.

doctype html
html
    head
        base(href='/')
        title Recipe Finder
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
        link(href='stylesheets/custom.css', rel='stylesheet')
        link(rel='stylesheet', href="stylesheets/colorbox.css")
        link(href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css')
    body
        p(style="font-family:Cabin; font-size:20px") Google Results for Restaurants
        - for (var inx=0; inx<info.length; inx++)
            br
            p(style="font-family:Cabin; font-size:15px") #{info[inx].title}
            a(ng-href='#{info[inx].link}') #{info[inx].link}
            br