//
   Created by surab on 4/28/2017.

doctype html
html
    head
        base(href='/')
        title Recipe Finder
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
        link(href='stylesheets/custom.css', rel='stylesheet')
        link(rel='stylesheet', href="stylesheets/colorbox.css")
    body
        iframe(frameborder='0', width='420', height='345', allowfullscreen='', src='#{yt}')